html {
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0px;

    background: rgb(14,14,12);
    background: linear-gradient(180deg, rgba(14,14,12,1) 0%, rgba(38,39,34,1) 100%);

    user-select: none;
    overflow-y: scroll;

    scroll-snap-type: y mandatory;
    height: 100vh;
}

body > * {

    display: flex;
    flex-direction: column;

    scroll-snap-align: start;
    height: 100vh;
    position: relative;
}

/* header */

header {
    background: url("../images/background.jpg");
    background-size: cover;
    width: 99vw;
    height: 100vh;
}

header #mountain-div {

    background-image: url("../images/mountain.png");
    background-size: cover;
    background-position: center;

    position: absolute;
    top: 0;
    left: 0;
    
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 99vw;
    z-index: 10;
}

h1 {
    position: sticky;
    top: 30%;
    text-align: center;
    width: 99vw;

    font-size: 3vw;

    color: #252523;

    font-family: "Caveat", cursive;
    font-weight: 700;

    letter-spacing: 0.1vw;
}

/* main */

main {
    height: 100vh;
    width: 99vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10vw;
}

main > a, a > img {
    width: 20vw;
}

main > a:hover {
    transform: translateY(5%);
}

@media only screen and (max-width: 600px) {
    
    header h1 {
        font-size: 15vw;
    }

    main {
        flex-direction: column;
        row-gap: 20vh;
    }

    main > a, a > img {
        width: 60vw;
    }
}