body {
    background: rgb(77,59,131);
    background: linear-gradient(173deg, rgba(77,59,131,1) 0%, rgba(38,37,48,1) 100%);
    background-size: 100vw 100vh;
}

body > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50vw;

    display: flex;
    justify-content: space-between;
}

a {
    width: 25%;    
}

img {
    width: 100%;
    transition: 0.5s transform;

}

img:hover {
    transform: scale(110%);
    filter: drop-shadow(0 0 15px #ffffff2f);
}