body {
    background-color: rgb(100, 100, 100);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(47, 43, 43);
}

#file-input {
    display: none;
}

#file-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#file-div > input[type="text"] {
    width: 1rem;
}

input[type="text"] {
    background-color: rgb(66, 59, 59);
    color: rgb(145, 145, 145);
    padding: 0.1rem;
    font-size: 0.8rem;

    text-align: center;
}

select {
    background-color: rgb(66, 59, 59);
    color: rgb(145, 145, 145);
}

button {
    background-color: #646464;
    color: #2f2b2b;
    font-weight: bolder;
    margin: 1rem;
}

#file-label {
    
    border-radius: 45px;

    width: 30vh;
    aspect-ratio: 3/1;
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-color: rgb(47, 43, 43);
    color: rgb(100, 100, 100);
    font-size: 1.5rem;
}

#important-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 45px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80vw;
    aspect-ratio: 8/1;

    background-color: rgb(47, 43, 43);
    color: rgb(100, 100, 100);
    font-size: 1.5rem;

    visibility: hidden;
}

#data-names-div {
    width: 100%;

    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
}

#data-names-div > div {
    display: flex;
    flex-direction: column;

    gap: 0.5rem 0;
}

#output-div {
    margin-left: 10rem;
}